.button, .ensemble button {
  border: none;
  border-radius: 25px;
  width: 250px;
  height: 50px;
  background: #FF79DA;
  background: linear-gradient(135deg, #FF79DA 0%, #9356DC 100%);
  color: white;
  font-weight: bold;
  box-shadow: 8px 7px 15px -6px rgba(0, 0, 0, 0.94);
  transition: 200ms;
}
.button a, .ensemble button a {
  text-decoration: none;
  color: inherit;
}
.button:hover, .ensemble button:hover {
  filter: brightness(105%);
  box-shadow: 8px 7px 15px 0px rgba(0, 0, 0, 0.94);
}

animacoeur, .carte .animacoeur {
  position: relative;
  font-size: 200%;
  display: flex;
  align-items: center;
  margin: 25px;
}
animacoeur .vide, .carte .animacoeur .vide {
  color: black;
  transform: scale(1);
  transition: 1s;
}
animacoeur .plein, .carte .animacoeur .plein {
  position: absolute;
  background: #FF79DA;
  background: linear-gradient(45deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s;
  transform: scale(0);
}
animacoeur:hover .plein, .carte .animacoeur:hover .plein {
  transform: scale(1);
}
animacoeur:hover .vide, .carte .animacoeur:hover .vide {
  transform: scale(0);
}

header nav {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-top: 10px;
  padding-right: 15%;
}
header nav img {
  width: 200px;
  height: 50px;
  padding-bottom: 10px;
}
header .arrow {
  text-decoration: none;
  font-size: 120%;
  color: black;
}

footer {
  background-color: rgb(50, 50, 50);
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 8%;
}
footer h4 {
  font-family: Shrikhand;
  font-size: 20px;
  font-weight: lighter;
}
footer .ftexte {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .ficon {
  margin: 0 10px 10px 0;
  width: 20px;
}
footer p {
  margin: 0 0 15px 0;
}
footer a {
  text-decoration: none;
  color: white;
}

* { /* Firefox */ /* Safari */
  box-sizing: border-box;
  list-style-type: none;
  font-family: Roboto, "'Times New Roman', Times, serif", Shrikhand;
}

.background img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
}

.menu {
  border-radius: 50px 50px 0 0;
  background-color: rgb(243, 243, 243);
  padding-top: 4%;
  margin-top: -14%;
  position: relative;
}

.carte {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carte h1 {
  font-family: Shrikhand;
  font-size: 180%;
  margin-left: 4.5%;
}
h2 {
  font-weight: lighter;
  margin-left: 5%;
  padding-bottom: 2%;
  border-bottom: solid #99E2D0 4px;
  width: 45px;
}

.ensemble {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ensemble button {
  margin-top: 10%;
  margin-bottom: 20%;
}

.card {
  display: flex;
  background-color: white;
  box-shadow: 8px 7px 15px -6px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  width: 90%;
  margin-bottom: 5%;
  overflow: hidden;
}
.card .texte {
  flex-grow: 1;
  width: 100px;
}
.card .texte h3, .card .texte p {
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card .prix {
  margin-top: 7%;
  padding-right: 6%;
  font-weight: bold;
}
.card .check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 0px;
  transition: 0.5s ease-in-out;
}
.card .valide {
  font-size: 150%;
  color: white;
  transition: 0.5s ease-in-out;
}
.card:hover .valide {
  transform: rotate(1turn);
}
.card:hover .check {
  width: 23%;
}

@-webkit-keyframes glissement {
  from {
    opacity: 0;
    margin-top: 50px;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

@keyframes glissement {
  from {
    opacity: 0;
    margin-top: 50px;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
.un {
  -webkit-animation: glissement 1000ms 1000ms both;
          animation: glissement 1000ms 1000ms both;
}

.one {
  -webkit-animation: glissement 1000ms 1250ms both;
          animation: glissement 1000ms 1250ms both;
}

.two {
  -webkit-animation: glissement 1000ms 1500ms both;
          animation: glissement 1000ms 1500ms both;
}

.three {
  -webkit-animation: glissement 1000ms 1750ms both;
          animation: glissement 1000ms 1750ms both;
}

.four {
  -webkit-animation: glissement 1000ms 2000ms both;
          animation: glissement 1000ms 2000ms both;
}

@media all and (min-width: 992px) {
  body {
    margin: auto;
  }
  .background {
    display: flex;
    justify-content: center;
  }
  .background img {
    width: 70%;
    height: 550px;
  }
  .tout {
    display: flex;
    justify-content: center;
  }
  .menu {
    width: 70%;
  }
  .card {
    width: 75%;
  }
  .ensemble button {
    margin-top: 5%;
    margin-bottom: 10%;
  }
  .card:hover .check {
    width: 15%;
  }
}
@media all and (min-width: 1400px) {
  .card .prix {
    margin-top: 3%;
  }
}/*# sourceMappingURL=restaurants.css.map */