@import "./utils/variables";
@import "./composants/button";
@import "./composants/animacoeur";
@import "./layout/header";
@import "./layout/footer";

*{
    -moz-box-sizing    : border-box; /* Firefox */
    -webkit-box-sizing : border-box; /* Safari */
    box-sizing         : border-box;
    list-style-type: none;
    font-family: Roboto, "'Times New Roman', Times, serif", Shrikhand;
}

header{
    @extend header
}

.background{
    img{
        object-fit: cover;
        width: 100%;
        height: 250px;
    }
}

.menu{
    border-radius: 50px 50px 0 0;
    background-color: $color-background;
    padding-top: 4%;
    margin-top: -14%;
    position: relative;
}

.carte{
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1{
        font-family: Shrikhand;
        font-size: 180%;
        margin-left: 4.5%
    }

    .animacoeur{
        @extend animacoeur;
    }
}

h2{
    font-weight: lighter;
    margin-left: 5%;
    padding-bottom: 2%;
    border-bottom: solid $color-tertiary 4px;
    width: 45px;
}

.ensemble{
    display: flex;
    align-items: center;
    flex-direction: column;

    .button{
        @extend .button;
        margin-top: 10%;
        margin-bottom: 20%;
    }
}

.button p{
    display:flex;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    background-color: white;
    box-shadow: 8px 7px 15px -6px rgba(0,0,0,0.70);
    border-radius: 15px;
    width: 90%;
    margin-bottom: 5%;
    overflow: hidden;

    .texte{
        flex-grow: 1;
        width: 100px;

        h3, p{
            margin: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .prix{
        margin-top: 7%;
        padding-right: 6%;
        font-weight: bold;
    }

    .check{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-tertiary;
        width: 0px;
        transition: .5s ease-in-out;
    }
    
    .valide{
        font-size: 150%;
        color: white;
        transition: .5s ease-in-out;
    }

    &:hover .valide{
        transform: rotate(1turn);
    }

    &:hover .check{
        width: 23%;
    }
}

@keyframes glissement{
    from {
        opacity: 0;
        margin-top: 50px;
    }

    25%{
        opacity: 0.3;
    }

    50%{
        opacity: 0.5;
    }

    75%{
        opacity: 0.7;
    }

    to {
        opacity: 1;
    }
}

.un{
    animation: glissement 1000ms 1000ms both;
}

.one{
    animation: glissement 1000ms 1250ms both;
}

.two{
    animation: glissement 1000ms 1500ms both;
}

.three{
    animation: glissement 1000ms 1750ms both;
}

.four{
    animation: glissement 1000ms 2000ms both;
}

footer{
    @extend footer
}

@media all and (min-width: 992px){
    body{
        margin: auto;
        background: linear-gradient($color-background, $color-tertiary);
    }

    .background{
        display: flex;
        justify-content: center;
    
        img{
            width: 70%;
            height: 550px;
        }
    }

    .tout{
        display: flex;
        justify-content: center;
    }

    .menu{
        width: 70%;
    }

    .card{
        width: 75%;
    }

    .ensemble{
        button{
            margin-top: 5%;
            margin-bottom: 10%;
        }    
    }

    .card{
        &:hover .check{
            width: 15%;
        }
    }
}

@media all and (min-width: 1400px){
    .card{
        .prix{
            margin-top: 3%;
        }
    }
}