@import "./utils/variables";
@import "./composants/button";

*{
    -moz-box-sizing    : border-box; /* Firefox */
    -webkit-box-sizing : border-box; /* Safari */
    box-sizing         : border-box;
    list-style-type: none;
    font-family: Roboto;
}

@media all and (min-width: 992px){
    body{
        background-color: red;
    }
}

@media all and (min-width: 1400px){
    body{
        background-color: blue;
    }
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}

nav img{
    width: 200px;
    height: 50px;
    padding-bottom: 10px;
}

.formulaire{
    background-color: lightgray;
    -webkit-box-shadow: inset 0px 2px 5px 2px rgba(0,0,0,0.5); 
    box-shadow: inset 0px 2px 5px 2px rgba(0,0,0,0.5);
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

form [type=search]{
    background-color: lightgray;
    border: none;
}

button{
    @extend .button
}

.introTexte{
    background-color: rgb(243, 243, 243);
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}